.upldContainer {
    width: calc(100% - 30px);
    background: #242526;
    border-radius: 6px;
    padding: 20px 15px;
    margin: 23px 0;

}

.textSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #3a3b3c;
    padding: 0 0 14px 0;
}

.croper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.croper img {
    width: 100%;
}

.uploadBox {
    width: 88%;
    background: #3a3b3c;
    padding: 7px 19px;
    border-radius: 27px;
    color: #b0b3b8;
    cursor: pointer;
}


.method {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 9px;
    cursor: pointer;
    border-radius: 5px;
    color: #b0b3b8;
}

.method:hover {
    background-color: rgba(98, 101, 100, 0.504);
}

.liveIcon {
    color: #f02849;
    font-size: 24px;
}

.photoIcon {
    color: #45bd62;
    font-size: 24px;
}

.feelingIcon {
    color: #f7b928;
    font-size: 24px;
}


.heroUploads {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* upload modal */

.modalWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e0e0e8a;
    z-index: 999999;
}


.uploadModal {
    width: 460px;
    height: 470px;
    background: #242526;
    padding: 15px 20px;
    border: 0.1px solid #7a7b7d2e;
    position: relative;
    border-radius: 7px;
}

.uploadHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e3e8;
}

.cancelPost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 50%;
    padding: 7px;
    font-size: 20px;
    height: 20px;
    background: #3a3b3c;
    color: #7a7b7d;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.uploadModalUnderLine {
    height: 1px;
    width: 100%;
    background: #2f3031;
    position: absolute;
    top: 69px;
}