.upldContainer {
    width: calc(100% - 30px);
    background: #242526;
    border-radius: 6px;
    padding: 20px 15px;
    margin: 23px 0;

}

.textSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    border-bottom: 1px solid #3a3b3c;
    padding: 0 0 14px 0;
}

.croper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.croper img {
    width: 100%;
}

.uploadBox {
    width: 88%;
    background: #3a3b3c;
    padding: 7px 19px;
    border-radius: 27px;
    color: #b0b3b8;
    cursor: pointer;
}

.uploadBox:hover {
    background: #494a4b;
}


.method {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 10px;
    padding: 9px;
    cursor: pointer;
    border-radius: 5px;
    color: #b0b3b8;
}

.method:hover {
    background-color: rgba(98, 101, 100, 0.504);
}

.liveIcon {
    color: #f02849;
    font-size: 24px;
}

.photoIcon {
    color: #45bd62;
    font-size: 24px;
}

.feelingIcon {
    color: #f7b928;
    font-size: 24px;
}


.heroUploads {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* upload modal */

.modalWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e0e0e8a;
    z-index: 999999;
}


.uploadModal {
    width: 460px;
    height: 470px;
    background: #242526;
    padding: 15px 20px;
    border: 0.1px solid #7a7b7d2e;
    position: relative;
    border-radius: 7px;
}

.uploadHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e1e3e8;
    border-bottom: 2px solid #393939;
    padding: 0 0 20px 0;
}

.cancelPost {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    border-radius: 50%;
    padding: 7px;
    font-size: 20px;
    height: 20px;
    background: #3a3b3c;
    color: #7a7b7d;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.uploadModalUnderLine {
    height: 1px;
    width: 100%;
    background: #2f3031;
    position: absolute;
    top: 69px;
}


.uploader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}

.uploader .uploaderImg {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}

.uploaderImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.uploadStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #cccccc;

}

.visibility {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: #3a3b3c;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 12px;
}


.postForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.postForm .postCaption {
    width: 100%;
    height: 100px;
    outline: none;
    border: none;
    color: white;
    resize: none;
    background-color: transparent;
}

.postForm .postBox {
    height: 180px;
    background: #323436;
    width: 100%;
    border-radius: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 1px solid #545454;
    position: relative;
}

.postForm .postBox:hover {
    background-color: #474a4c;
}

.postBox .addIcon {

    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #47494a;
    font-size: 22px;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.postForm button {
    width: 100%;
    color: white;
    background-color: #0866ff;
    border: none;
    padding: 9px 0;
    border-radius: 5px;
    margin: 18px 0 0 0;


}

.postForm button:disabled {
    background-color: #505151;
    cursor: not-allowed;
}


.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}