nav {
    position: fixed;
    padding: 7px 15px;
    width: calc(100vw - 30px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}




.navLeftSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navLeftSide img {
    width: 40px;
}


.searchBox {
    width: 240px;
    padding: 8px;
    border-radius: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.searchBox input {
    width: 196px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(245, 243, 243);

}


.searchIcon {
    font-size: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contentIcon {
    width: 130px;
    display: block;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0px;
}

.contentIcon:hover {
    background-color: rgba(135, 135, 135, 0.374);
    border-radius: 10px;
}

.active {
    color: #0866ff !important;
    position: relative;
}

.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #0866ff;
    border-radius: 3px;
    bottom: -9px;
}


.navRightSide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin: 0 15px 0 0;
}

.myIcons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.userDisplayPic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.accessibility {
    position: absolute;
    /* relative to the nav */
    width: 360px;
    height: 400px;
    background-color: #242526;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
    top: 60px;
    right: 50px;
    border-radius: 10px;
    z-index: 99;
    padding: 10px 10px;
}

.authInfo {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 0px;
    width: calc(100% - 12px);
    padding: 0 6px;
}

.userBar {
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 6px 6px;
    cursor: pointer;
    margin: 0 0 10px 0;

}


.userBar:hover {
    background-color: rgba(69, 68, 68, 0.515);
}


.userBar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.seeAllProfile {
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    padding: 6px 6px;
    cursor: pointer;

}


hr {
    border: 1px solid rgb(86, 85, 85);
}


.seeAllProfile p {
    color: #0866ff;
    font-size: 16px;
}




.functions {
    width: calc(100% - 12px);
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;


}

.function {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 12px);
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
}


.function:hover {
    background-color: rgba(69, 68, 68, 0.515);
}

.functionName {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 17px;
}



.iconHolder {
    background: #3a3b3c;
    width: 25px;
    height: 25px;
    padding: 6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

.greaterThanSign {
    color: white;
    font-size: 18px;
}