@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
}

#root {
    background-color: #18191a;
    min-height: 100vh;
}


::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}